PyYAML
numpy
librosa<7.0.0
pynput
PyAudio
world4py
git+https://github.com/Hiroshiba/become-yukarin
git+https://github.com/Hiroshiba/yukarin

# if you want to use CREPE
# https://github.com/Hiroshiba/crepe/archive/pytorch.zip
